.hometeam_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.title {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}


.title>.title__text {
    font-size: 3.5rem;
    font-family: var(--font-primary);
}


.team_members {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    padding: 2rem 6rem;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__padding_x {
    padding: 0rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.text-white {
    color: white;
}




@media screen and (max-width: 800px) {
    .title {
        width: 90%;
    }

    .title>.title__text {
        font-size: 2rem;
    }

    .title>.description__text {
        font-size: 1rem;
        line-height: 1.5;
    }

}


/* Tabular Responsive */

@media screen and (max-width:700px) {
    .section__padding{
        padding: 4rem;
    }

    .section__padding_x{
        padding: 0rem 2rem;
    }
    
    .section__margin{
        margin: 4rem;
    }

    .container{
        padding: 2rem 4rem;
    }
}


/* Mobile Responsive */

@media screen and (max-width:550px) {
    .section__padding{
        padding: 2rem 2rem;
    }
    
    .section__margin{
        margin: 4rem 2rem;
    }

    .container{
        padding: 2rem 1rem;
    }
}